**.project
**.classpath
**.settings
**.springBeans
/**/target/
/**/bin
target/**
jetty-env.xml
log4j.xml
webdefault.xml
log4j.xml
webdefault.xml
.externalToolBuilders
dev.properties
.jshintrc
.travis.yml
node_modules/
vendor/
